NEXT_PUBLIC_SITE_URL=https://mftravel.co.uk
NEXT_PUBLIC_BOOKING_PHONE=
NEXT_PUBLIC_BOOKING_EMAIL=bookings@mftravel.co.uk
NEXT_PUBLIC_OPERATOR_LICENCE=
NEXT_PUBLIC_LICENSING_AUTHORITY=Kingston upon Hull City Council
